<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.min.js"></script>
<script src="{{uiRootPath}}/js/site.js"></script>
<script src="{{uiRootPath}}/js/vendor/highlight.js"></script>
<script src="{{uiRootPath}}/js/vendor/06-keyboard.js"></script>
<!--<script>hljs.initHighlighting()</script>-->
<script src="{{uiRootPath}}/js/vendor/tocbot.min.js"></script>
<script>
  tocbot.init( {
    tocSelector: '#article-toc',
    contentSelector: 'article',
    headingSelector: 'h2, h3, h4, h5, h6',
    collapseDepth: 6,
    positionFixedSelector: '#article-toc',
    scrollSmooth: false
  } );
  var tocList = document.getElementById( 'article-toc' ).getElementsByClassName( 'toc-list' );
  if ( tocList && tocList.length > 0 && tocList[0].childNodes.length > 0 ) {
    document.getElementById( 'article-toc' ).parentNode.classList.remove( 'hidden' );
  }
</script>
