<div class="toolbar" role="navigation">
{{> nav-toggle}}

  {{#if site.homeUrl}}
  <a href="{{relativize site.homeUrl}}" class="home-link{{#if page.home}} is-current{{/if}}"></a>
  {{/if}}
{{> breadcrumbs}}
{{> page-versions}}



  <div class="edit-this-page">
    <span class="prev-caret">
    {{#if page.previous}}
      <a href="{{~#if (eq page.previous.urlType 'internal')}}{{{relativize @root.page.url page.previous.url}}}
      {{~else}}{{{page.previous.url}}}
      {{~/if}}">
        <i class="fas fa-arrow-left custom-color"></i></a></span>
    {{/if}}
&nbsp;
<span class="next-caret">
    {{#if page.next}}
      <a href="{{~#if (eq page.next.urlType 'internal')}}{{{relativize @root.page.url page.next.url}}}
      {{~else}}{{{page.next.url}}}
      {{~/if}}">
        <i class="fas fa-arrow-right custom-color"></i></a></span>
    {{/if}}
    &nbsp;
    <a href="https://github.com/SUSE/doc-susemanager/issues"><i class="fas fa-bug custom-color"></i>&nbsp;</a>
  {{#if (and page.editUrl (not page.origin.private))}}
  <a href="{{page.editUrl}}"><i class="fas fa-edit custom-color"></i></a>
  {{/if}}
</div>
</div>
