.cedents {
  color: #444547;
  -webkit-box-align: center;
  /* -ms-flex-align: center; */
  align-items: center;
  /* border-top: 1px solid #eaeaea; */
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  /* display: flex; */
  font-size: 0.9375rem;
  font-weight: 400;
  height: 3.125rem;
  -webkit-box-pack: start;
  /* -ms-flex-pack: start;
  justify-content: flex-start; */
  /* margin-top: 2rem; */
  text-align: right;
  width: auto;
  display: grid;
  grid-template-rows: auto;
  empty-cells: hide;
  /* grid-template-areas: "previous next"; */
  grid-template-columns: 1fr 1fr;
  /* margin: 0px;
  padding: 0px; */
  grid-column-gap: 24px;
  margin-top: 40px;
}

.cedents a,
.cedents a:visited {
  color: inherit;
  position: relative;
  padding: 0;
}

.cedents .prev a {
  /* padding-left: 1rem; */
  text-align: right;
}

.cedents .next {
  /* margin-left: 10px; */
  text-align: left;
}

.cedents .next,
.cedents .prev {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /* margin-right: 10px; */
  border: 1px solid #00d35f;
  border-radius: 3px;
  padding: 12px;
}

.cedents .prev {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main a,
.main a:visited {
  color: #323ccb;
  text-decoration: underline;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border-bottom: 1px solid transparent;
}

.label {
  color: #cdd3d9;
  font-size: small;
}

.next:hover {
  border-color: #18bae5;
}

.prev:hover {
  border-color: #18bae5;
}

.arrow-prev {
  float: left;
  padding-left: 10px;
  line-height: 3rem;
  color: #00d35f;
}

.arrow-next {
  float: right;
  padding-right: 10px;
  line-height: 3rem;
  color: #00d35f;
}
